* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {
  text-align: center;
  font-size: 5em;
}

button {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  border: 1px solid aqua;
  -webkit-box-shadow: 5px 5px 30px #8faecf;
  -moz-box-shadow: 5px 5px 30px #8faecf;
  box-shadow: 5px 5px 30px #8faecf;
}

#disp {
  font-size: 10em;
}

.positive {
  color: green;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
}
.negative {
  color: red;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
}

.zero {
  color: #444;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
}
